/**
 * Created by Shawn Miller on 4/28/2017
 * Filename:_landing.css
 * Path: /css/imports/_landing.css
 * Version: 1.0
 * Description: A brief description of the Stylesheet.
 */

@media (max-width : 767px) {

	.meet-team {
		padding : 71px 0 47px;
	}

	.meet-team .main-title {
		margin-bottom : 45px;
	}

	.meet-team .main-title h2 {
		font-size     : 30px;
		line-height   : 35px;
		padding       : 0;
		margin-bottom : 4px;
	}

}